@model SEDC.TicketingSystem.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid wraperLogin">
    <br />
    <div class="module form-module shadow">
        <div class="toggle">
            <i class="glyphicon glyphicon-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>


        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form">

                <h2>@ViewBag.Message</h2>
                <form>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input" , placeholder="E-mail" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })



                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input" , placeholder="Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                </form>
                <input type="submit" value="Login" class="button-login" />
            </div>
        }

           



            <div class="form">
                <h2>Create an account</h2>
                <form>


                    @using (Html.BeginForm("Create", "Users", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder = "First Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="">

                            <div class="">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input", placeholder = "Last Name" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="">

                            <div class="">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input", placeholder = "User Name" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="">

                            <div class="">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", placeholder = "E-Mail" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="">

                            <div class="">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input", placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="">

                            <div class="">
                                <input class="input" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" />
                            </div>
                        </div>


                        <div class="">
                            <div class="">
                                <input type="submit" value="Confirm" class="button-login" />
                            </div>
                        </div>

                    }



                </form>     
                 
            </div>

            <div class="cta"><a href="~/Users/ForgotPassword">Forgot your password?</a></div>
        
    </div>
   
</div>

<script>
    // Toggle Function
    $('.toggle').click(function () {
        // Switches the Icon
        $(this).children('i').toggleClass('glyphicon-refresh');
        // Switches the forms
        $('.form').animate({
            height: "toggle",
            'padding-top': 'toggle',
            'padding-bottom': 'toggle',
            opacity: "toggle"
        }, "slow");
    });


</script>

@section passwordValidation{
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script src="~/Scripts/passwordValidation.js"></script>
}