@model SEDC.TicketingSystem.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="shadow1 blue-line">
    <div class="container-fluid">
                <h3 class="colorletter1">Delete</h3>
                <hr />
                <h3 class="colorletter">Are you sure you want to delete this?</h3>
                <div>
                    <h4 class="colorletter">Ticket</h4>
                    <hr />
                    <div class="sameline1 clearfix margin-bottom1">
                        <div class="pull-right width-50">
                            <dl class="dl-horizontal">
                                <dt class="colorletter">
                                    Moderator:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Moderator.Name)
                                </dd>

                                <dt class="colorletter">
                                    Author:
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Owner.Name)
                                </dd>

                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>

                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.OpenDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OpenDate)
                                </dd>

                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.CloseDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CloseDate)
                                </dd>

                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.WorkHours)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.WorkHours)
                                </dd>
                             </dl> 
                        </div>
                        <div class="pull-left width-50">
                            <dl>
                                <dt class="colorletter">
                                    @Html.DisplayNameFor(model => model.Body)
                                </dt>
                                <dd>
                                    @Html.Raw(Model.Body)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color margin-top1">
                            <div class="pull-left">
                                <input type="submit" value="Delete" class="button-login" />
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Cancel", "Index", new { id = Model.OwnerID }, new { @class = "button-login pull-right margin-bottom1" })
                            </div>
                        </div>
                    }
                </div>

                </div>
            </div>

