@model SEDC.TicketingSystem.ViewModels.TicketAndRepliesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="container-fluid wraperHomeDetails">
    <div class="shadowDetail">
       <hr />
        <div class="dl-horizontal">
            <div class="container-fluid sameline1">
                <div class="sameline">
                    <h3>
                        @Html.DisplayFor(model => model.Ticket.Title)
                    </h3>
                </div>
                <div class="sameline">
                    <div class="container-fluid">
                        <div class="butonCenter">
                            
                            <p>
                                @Html.ActionLink("Close Ticket", "Close", new { id = Model.Ticket.ID }, new { @class = "btn loginbtn" })
                            </p>
                        </div>
                        <div class="butonCenter">
                            <p>
                                @Html.ActionLink("Back to Tickets", "Index", new { id = Model.Ticket.OwnerID }, new { @class = "btn loginbtn" })  @*Here I return The ownerID as well So it will show only  the Tickets raised by the loged in user*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="sameline">
                <div class="bodyText1">
                    @Html.Raw(Model.Ticket.Body)
                </div>
            </div>


            <div class="container-fluid sameline">
                <dl>
                    <dt class="msgTextNoMrg">
                        Assigned:
                    </dt>

                    <dd>
                        @Model.GetUsername(Model.Ticket.ModeratorID)
                    </dd>

                    <dt class="msgTextNoMrg">
                        Author:
                    </dt>

                    <dd>
                        @Model.GetUsername(Model.Ticket.OwnerID)
                    </dd>
                    <dt class="msgTextNoMrg">
                        @Html.DisplayNameFor(model => model.Ticket.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ticket.Status)
                    </dd>

                    <dt class="msgTextNoMrg">
                        Category:
                    </dt>

                    <dd>
                        @Model.GetCategory(Model.Ticket.CategoryID)
                    </dd>

                    <dt class="msgTextNoMrg">
                        @Html.DisplayNameFor(model => model.Ticket.OpenDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ticket.OpenDate)
                    </dd>

                    <dt class="msgTextNoMrg">
                        @Html.DisplayNameFor(model => model.Ticket.CloseDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ticket.CloseDate)
                    </dd>

                    <dt class="msgTextNoMrg">
                        @Html.DisplayNameFor(model => model.Ticket.WorkHours)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ticket.WorkHours)
                    </dd>
                </dl>
            </div>
            


        </div>
    </div>
    
    <div class="shadowDetail">
        <div class="createCenter pad">
            @if ((int)Model.Ticket.Status != 3)
            {     @*check if the ticket status is closed. If yes then don't show  the create reply block*@


                using (Html.BeginForm("Create", "Replies", new { id = Model.Ticket.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h3 class="msgTextNoMrg">Reply</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">

                            <div class="col-md-10">
                             @Html.EditorFor(model => model.ShowReply().ReplyBody, new { @name = "replyBody" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" value="Create" class="btn loginbtn" id="submitReply" />
                            </div>
                        </div>
                    </div>

                }
            }



            <table class="table " id="replies">
                <thead>
                    <tr>
                        <th class="msgTextNoMrg">Replies</th>
                        <th class="msgTextNoMrg">Details</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Replies)
                    {
                        <tr>
                            <td>
                                @Html.Raw(item.ReplyBody)
                            </td>
                            <td>
                                <span class="msgTextNoMrg"> Author:  @Model.GetUsername(item.UserID)</span>
                                <br />
                                
                                <span class="msgTextNoMrg">Replied:
                                @Html.DisplayFor(modelItem => item.TimeStamp)</span>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 </div>
