@model IEnumerable<SEDC.TicketingSystem.Models.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="shadow2 blue-line">
    <h3 class="colorletter2">My Tickets</h3>
    <hr />
    <div class="clearfix margin-bottom1">
        @Html.ActionLink("Create New", "Create", null, new { @class = "colorwhite button-login-contact pull-left" })
    </div>
    <div class="margin-bottom1">
        <div class="pull-left margin-bottom1">
            <span class="colorletter">Filter by: </span>
            @Html.DropDownList("CategoryID", null, "Category", htmlAttributes: new { @class = "" })
            <select id="status" name="status">
                <option value="">Status</option>
                <option value="1">Pending</option>
                <option value="2">Wait reply</option>
                <option value="3">Closed</option>
            </select>
        </div>
    </div>
    <div class="clearfix container">
        <div class="row">
            <div class="col-xs-12">
                @* This div is needed for the ordering filters and the ajax to work *@
                <div class="container-fluid">
                    <table class="table table-bordered table-hover dt-responsive">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpenDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CloseDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WorkHours)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tickets">
                            @foreach (var item in Model)
                            {
                                string status = "";
                                if ((int)item.Status == 1)
                                {
                                    status = "ticket-status-pending";
                                }
                                if ((int)item.Status == 2)
                                {
                                    status = "ticket-status-waitReply";
                                }
                                if ((int)item.Status == 3)
                                {
                                    status = "ticket-status-closed";
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @* This line will show the title of the ticket as link to the ticket details *@
                                        @Html.ActionLink(item.Title.ToString(), "Details", new { id = item.ID })

                                    </td>
                                    <td class="@status">

                                            @Html.DisplayFor(modelItem => item.Status)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpenDate)
                                    </td>
                                    <td>
                                        @if(item.CloseDate.ToString()=="12/31/9999 11:59:59 PM"){
                                        <span>N/A</span>
                                        }
                                        else{@Html.DisplayFor(modelItem => item.CloseDate)}
                                                                
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkHours)
                                    </td>
                                    <td>

                                        @if ((int)item.Status == 3)
                                        {

                                                <section class="text-center">
                                                    <a href='@Url.Action("Delete", "Tickets", new { id = item.ID })'>
                                                        <i class="fa fa-trash-o fa-lg"></i>
                                                    </a>
                                                </section>

                                                 @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-times fa-lg" })*@

                                        }
                                        else
                                        {                                
                                                <a href='@Url.Action("Edit", "Tickets", new { id = item.ID })' class="col-md-offset-1">
                                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                                </a>
                                                <span>|</span>                                     
                                                <a href='@Url.Action("Delete", "Tickets", new { id = item.ID })'>
                                                    <i class="fa fa-trash-o fa-lg"></i>
                                                </a>
                                        }
                                    </td>
                                </tr>
                            }
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
@section dataTableCss{
    <link href="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Content/DataTable.css" rel="stylesheet" />
}
@section OrderByScript{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script src="http://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="http://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
    <script src="~/Scripts/dataTableScript.js"></script>
    <script src="~/Scripts/userFilterBy.js"></script>
   
}
