@model SEDC.TicketingSystem.ViewModels.TicketAndRepliesViewModel

@{
    ViewBag.Title = "Details";
    if (Convert.ToInt32(Session["IsAdmin"]) == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
    }
}

<div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            @using (Html.BeginForm("Close", "Tickets", new { id = Model.Ticket.ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <br />
                <label for="workHours" class="colorletter">Hours Worked</label>
                <input type="number" name="workHours" id="workHours" />
                <br />
                <input type="submit" value="Close Ticket" class="button-login" id="closeTicket" />
                <br />
            }
        </div>
    </div>
</div>

<div class="container-fluid wraperHomeDetails">
    <div class="shadowDetail blue-line">
        <h3 class="container-fluid colorletter" >Details</h3>
        <hr />
        <div class="createCenter">
            <div class="container-fluid sameline1">
                <div class="body-width50">
                    <div class="pull-left">
                        <h3>
                            @Html.DisplayFor(model => model.Ticket.Title)
                        </h3>
                    </div>
                </div>
                <div class="body-width50">
                    <div class="pull-right">
                        <div class="container-fluid">
                            <div class="butonCenter">
                                <button id="Close" type="button" class="button-login" data-toggle="modal" data-target=".bs-example-modal-sm">Close Ticket</button>
                            </div>
                            <div class="butonCenter ">
                                @Html.ActionLink("Re open Ticket", "ReOpen", new { id = Model.Ticket.ID }, new { @class = "button-login" })
                            </div>
                            <div class="butonCenter ">
                                @Html.ActionLink("Asign Ticket", "AssignTicket", new { id = Model.Ticket.ID }, new { @class = "button-login" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Display a modal  for entering the  Hours Worked when you close the ticket *@

        <div class="clearfix padding4">
            <div class="">
                <div class="bodyText1 pull-left">
                    @Html.Raw(Model.Ticket.Body)
                </div>
            </div>
            <div class="">
                <div class="pull-right">
                    <dl>
                        <dt class="msgTextNoMrg">
                            Assigned:
                        </dt>
                        <dd>
                            @Model.GetUsername(Model.Ticket.ModeratorID)
                        </dd>
                        <dt class="msgTextNoMrg">
                            Author:
                        </dt>
                        <dd>
                            @Model.GetUsername(Model.Ticket.OwnerID)
                        </dd>
                        <dt class="msgTextNoMrg">
                            @Html.DisplayNameFor(model => model.Ticket.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ticket.Status)
                        </dd>
                        <dt class="msgTextNoMrg">
                            Category:
                        </dt>
                        <dd>
                            @Model.GetCategory(Model.Ticket.CategoryID)
                        </dd>
                        <dt class="msgTextNoMrg">
                            @Html.DisplayNameFor(model => model.Ticket.OpenDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ticket.OpenDate)
                        </dd>
                        <dt class="msgTextNoMrg">
                            @Html.DisplayNameFor(model => model.Ticket.CloseDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ticket.CloseDate)
                        </dd>
                        <dt class="msgTextNoMrg">
                            @Html.DisplayNameFor(model => model.Ticket.WorkHours)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ticket.WorkHours)
                        </dd>
                    </dl>
                </div>              
                </div>
        </div>





            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Ticket.ID }, new { @class = "btn loginbtn" })*@
            @* @Html.ActionLink("Back to List", "Index", new { id = Model.Ticket.OwnerID }, new { @class = "btn loginbtn" })*@
   
        <hr />
        <div class="createCenter">
            @* The  post reply  block *@
            @using (Html.BeginForm("Create", "Replies", new { id = Model.Ticket.ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3 class="container-fluid colorletter">Replay</h3>
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                           
                            @Html.EditorFor(model => model.replyBody, new { @name = "replyBody" })
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="submit" value="Send Replay" class="button-login" id="submitReply" />
                        </div>
                    </div>
                </div>
            }

            <table class="table " id="replies">
                <thead>
                    <tr class="msgTextNoMrg">
                        <th>Replies</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Replies)
                    {
                        var color = "black";
                        if (item.IsAdminMessage == true) { color = "red"; } // If the reply is from another admin make it red.
                        <tr style="color:@color;">
                            <td>
                                @Html.Raw(item.ReplyBody)
                            </td>
                            <td>
                                <span class="msgTextNoMrg"> Author:  @Model.GetUsername(item.UserID)</span>
                                <br />
                                <span class="msgTextNoMrg">
                                    replied @Html.DisplayFor(modelItem => item.TimeStamp)
                                </span>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
