@model SEDC.TicketingSystem.Models.User

@{
    ViewBag.Title = "Create";
     if (Convert.ToInt32(Session["IsAdmin"]) == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage.cshtml";        
    }
}

<div class="container-fluid wraperHome">
    <div class="shadow2">
        <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "passForm" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <h3 class="colorletter">Create New User</h3>
                      <hr class="crta" />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                     
                            <div class="">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder="First Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                         
                            <div class="">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input", placeholder="Last Name" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input", placeholder="User Name" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input" },  placeholder="Email" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                            <div class="form-group">
                                
                                <div class="">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "passwordReg", @class = "input", placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">                       
                                <div class="">
                                    <input class="input" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" />
                                </div>
                            </div>
                        

                        @*If the Super admin is  asking for this view show him the IsAdmin filed*@
                        @if (Convert.ToInt32(Session["IsAdmin"]) == 2)
                        {
                         <div class="form-group">
                        
                            <div class="">
                                <div class="">
                                    @Html.EnumDropDownListFor(model => model.IsAdmin, htmlAttributes: new { @class = "input" })
                                    @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        }
                        

                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Confirm" class="button-login" />
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</div>
@section passwordValidation{
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script src="~/Scripts/passwordValidation.js"></script>
}
