@model SEDC.TicketingSystem.Models.User

@{
    ViewBag.Title = "Details";

    if (Convert.ToInt32(Session["IsAdmin"]) == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
        if (Convert.ToInt32(Session["IsAdmin"]) == 1)
        {
            Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutPage.cshtml";        
        }
}

<div class="main-wrapper">
    <div class="shadow1 blue-line">
        <h3 class="colorletter1">User Details</h3>
        <hr />
        <div class="clearfix container-fluid">
            <div class="ikona-edit pull-left">
                <i class="glyphicon glyphicon-user ikonaCovek"></i>
            </div>
            <dl class="dl-horizontal text-center pull-right">
                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="colorletter">
                    Last Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="colorletter">
                    Access Level
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdmin)
                </dd>
            </dl>
        </div>
        <div class="padding4 margin-top1">
            <h4 class="text-center">@Html.ActionLink("Edit Profile", "Edit", new { id = Model.ID }, new { @class = "button-login" })</h4>
        </div> 
      </div>      
    </div>


