@model SEDC.TicketingSystem.Models.User

@{
    ViewBag.Title = "Details";
    //check the current user acl and render the layout acordingly
    if ((int)Session["IsAdmin"] == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else { 
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    }
}
<div class="container-fluid wraperHome">
    <div class="shadow2">
        <div class="centering"></div>
          <div class="container-fluid position-center">
            <h3 class="colorletter container-fluid">User Details</h3>
            <h4 class="container-fluid">@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdmin)
                </dd>
            </dl>
        </div>     
        </div>
    </div>


