@model SEDC.TicketingSystem.Models.User

@{
    ViewBag.Title = "Details";

    if (Convert.ToInt32(Session["IsAdmin"]) == 2)
    {
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    else
        if (Convert.ToInt32(Session["IsAdmin"]) == 1)
        {
            Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutPage.cshtml";        
        }
}
<h3 class="colorletter text-center">User Details</h3>
<div class="container-fluid wraperHome">
    <div class="shadow2">
            <div class="clearfix">
                <h4>@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn loginbtn pull-right" })</h4>
                <div class="ikona pull-left">
                    <i class="glyphicon glyphicon-user ikonaCovek"></i>
                </div>
            </div>
            <hr />
            <dl class="dl-horizontal text-center">
                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="colorletter">
                    Last Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="colorletter">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="colorletter">
                    Access Level
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdmin)
                </dd>
            </dl>    
        </div>     
      <div class="make-room"></div>
    </div>


