<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Main.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @RenderSection("dataTableCss", required: false)
    @*The jQuery Script needs to be called here because Tiny MCE needs it loaded in order to work*@
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
        <header>
                <div class="navbar container-fluid navigacija">
                    <div class="container">
                        <div class="navbar-header">
                            <img src="~/img/logo1.png" class="img-responsive logo" />
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-menubuilder">
                            <ul class="nav navbar-nav navbar-right">
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/Moderator/Index">Home</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                }
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/Moderator/AllTickets/@Session["LogedUserID"]">All Tickets</a>
                                    </li>
                                    <li>
                                        <a href="~/Moderator/AllPending/@Session["LogedUserID"]">All Pending</a>
                                    </li>
                                    <li>
                                        <a href="~/Moderator/NewPending/@Session["LogedUserID"]">New Pending</a>
                                    </li>
                                    <li>
                                        <a href="~/Moderator/MyTickets/@Session["LogedUserID"]">MyTickets</a>
                                    </li>
                                }
                                    <li>
                                        <a href="~/Users/Details/@Session["LogedUserID"]">My Account</a>
                                    </li>

                                
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/Home/Logout">Logout</a>
                                    </li>
                                }

                            </ul>

                        </div>
                    </div>
                </div>
        </header>
        <main>
            @RenderBody()
        </main>

    <footer>
        <p class="copyrightadmin">
            Copyright &copy 2015 Blind Carrots
        </p>
    </footer>
    @RenderSection("passwordValidation", required: false)
    @RenderSection("SearchAjax", required: false)
    @RenderSection("OrderByScript", required: false)
</body>
</html>
