@model SEDC.TicketingSystem.Models.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="shadow1 blue-line">
    <h3 class="colorletter1">Create Category</h3>
    <div class="container-fluid">
                
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            
                            <div>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input", placeholder="Category Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ModeratorID, "ModeratorID", htmlAttributes: new { @class = "control-label colorletter" })
                            <div>
                                @Html.DropDownList("ModeratorID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModeratorID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="sameline1">
                                <div class="pull-left">
                                    <input type="submit" value="Create" class="col-xs-12 button-login-contact" />
                                </div>
                                <div class="pull-right">
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "col-xs-12 button-login-contact" })
                                </div>
                            </div>
                        </div>
                    </div>
                }


       </div>

    </div>
