@model SEDC.TicketingSystem.Models.Category

@{
    ViewBag.Title = "Category Delete";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="shadow1 blue-line" >
    <h3 class="colorletter1">Delete Category</h3>
    <div class="container-fluid">               
                <hr />
                <h4 class="colorletter">@ViewBag.message</h4>
                <h3 class="colorletter">Are you sure you want to delete this?</h3>
                <h4 class="colorletter">Category</h4>
                <hr />
                <div class="text-center">                                
                    <dl class="colorletter margin-bottom1">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="sameline1">
                            <div class="pull-left">
                                <input type="submit" value="Delete" class="button-login-contact pull-left" />
                            </div>
                            <div class="pull-right">
                                @Html.ActionLink("Cancel", "Index",null, new { @class = "button-login pull-right margin-bottom1" })
                            </div>
                        </div>
                    }
                </div>
              </div>
           </div>

