@model IEnumerable<SEDC.TicketingSystem.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
                      <div class="box1 text-center">
                          <br />
                          <h4 class="colorletter text-center">Categories</h4>
                          <br />
                      </div>
                      <div>
                          <a>
                              @Html.ActionLink("Create New", "Create", null, new { @class = "btn loginbtnNoMrg pull-right margin-bottom1" })
                          </a>
                      </div>
    <br />
   
<table class="table container-fluid table-moderator">
    <tr>
        <th>
            Moderator
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Moderator.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div class="make-room"></div>