@model IEnumerable<SEDC.TicketingSystem.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

                      <div class="shadow2 blue-line">
                          <h3 class="colorletter">Categories</h3>

                          <hr />
                          <a>
                              @Html.ActionLink("Create New", "Create", null, new { @class = "btn loginbtnNoMrg pull-right margin-bottom1" })
                          </a>

                          <br />

                          <table class="table container-fluid">
                              <tr>
                                  <th>
                                      Moderator
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Name)
                                  </th>
                                  <th>Action</th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Moderator.Name)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.Name)
                                      </td>
                                      <td>
                                          @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                          @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                      </td>
                                  </tr>
                              }

                          </table>
                      </div>
